@import 'tailwindcss';

@theme inline {
  --font-sans: 'Graphik', sans-serif;
  --font-serif: 'Graphik', serif;
  --font-mono: 'Graphik', monospace;

  /* Color styles */
  --color-corporate-blue-50: #e6e9f0;
  --color-corporate-blue-100: #b0bad1;
  --color-corporate-blue-200: #8a99ba;
  --color-corporate-blue-300: #556a9b;
  --color-corporate-blue-400: #344d87;
  --color-corporate-blue-500: #012169;
  --color-corporate-blue-600: #011e60;
  --color-corporate-blue-700: #01174b;
  --color-corporate-blue-800: #01123a;
  --color-corporate-blue-900: #000e2c;
  --color-corporate-grey-50: #f2f1f0;
  --color-corporate-grey-100: #d5d2cf;
  --color-corporate-grey-200: #c1bcb8;
  --color-corporate-grey-300: #a59e98;
  --color-corporate-grey-400: #948b84;
  --color-corporate-grey-500: #796e65;
  --color-corporate-grey-600: #6e645c;
  --color-corporate-grey-700: #564e48;
  --color-corporate-grey-800: #433d38;
  --color-corporate-grey-900: #332e2a;
  --color-secondary-blue-50: #e9edfa;
  --color-secondary-blue-100: #bac7f0;
  --color-secondary-blue-200: #98ace8;
  --color-secondary-blue-300: #6a86de;
  --color-secondary-blue-400: #4d6fd8;
  --color-secondary-blue-500: #204bce;
  --color-secondary-blue-600: #1d44bb;
  --color-secondary-blue-700: #173592;
  --color-secondary-blue-800: #122971;
  --color-secondary-blue-900: #0d2057;
  --color-secondary-yellow-50: #fef9e6;
  --color-secondary-yellow-100: #fcebb0;
  --color-secondary-yellow-200: #fbe18a;
  --color-secondary-yellow-300: #f9d354;
  --color-secondary-yellow-400: #f8cb33;
  --color-secondary-yellow-500: #f6be00;
  --color-secondary-yellow-600: #e0ad00;
  --color-secondary-yellow-700: #af8700;
  --color-secondary-yellow-800: #876900;
  --color-secondary-yellow-900: #675000;
  --color-secondary-black-50: #eaeaea;
  --color-secondary-black-100: #bebebe;
  --color-secondary-black-200: #9e9e9e;
  --color-secondary-black-300: #727272;
  --color-secondary-black-400: #575757;
  --color-secondary-black-500: #2d2d2d;
  --color-secondary-black-600: #292929;
  --color-secondary-black-700: #202020;
  --color-secondary-black-800: #191919;
  --color-secondary-black-900: #131313;
  --color-tertiary-blue-50: #f4f9fd;
  --color-tertiary-blue-100: #ddecf8;
  --color-tertiary-blue-200: #cde2f5;
  --color-tertiary-blue-300: #b6d5f0;
  --color-tertiary-blue-400: #a8cded;
  --color-tertiary-blue-500: #92c1e9;
  --color-tertiary-blue-600: #85b0d4;
  --color-tertiary-blue-700: #6889a5;
  --color-tertiary-blue-800: #506a80;
  --color-tertiary-blue-900: #3d5162;
  --color-error-50: #fdecec;
  --color-error-100: #fac5c5;
  --color-error-200: #f8a9a9;
  --color-error-300: #f48282;
  --color-error-400: #f26969;
  --color-error-500: #ef4444;
  --color-error-600: #d93e3e;
  --color-error-700: #aa3030;
  --color-error-800: #832525;
  --color-error-900: #641d1d;
  --color-warning-50: #fefaed;
  --color-warning-100: #fdf0c6;
  --color-warning-200: #fbe8aa;
  --color-warning-300: #fade83;
  --color-warning-400: #f9d86b;
  --color-warning-500: #f7ce46;
  --color-warning-600: #e1bb40;
  --color-warning-700: #af9232;
  --color-warning-800: #887127;
  --color-warning-900: #68571d;
  --color-success-50: #e7f8f2;
  --color-success-100: #b5e9d8;
  --color-success-200: #91dfc5;
  --color-success-300: #5fd0ab;
  --color-success-400: #40c79a;
  --color-success-500: #10b981;
  --color-success-600: #0fa875;
  --color-success-700: #0b835c;
  --color-success-800: #096647;
  --color-success-900: #074e36;
  --color-neutral-grey-50: #f4f5f7;
  --color-neutral-grey-100: #dddfe6;
  --color-neutral-grey-200: #ccd0d9;
  --color-neutral-grey-300: #b5bac8;
  --color-neutral-grey-400: #a7adbd;
  --color-neutral-grey-500: #9198ad;
  --color-neutral-grey-600: #848a9d;
  --color-neutral-grey-700: #676c7b;
  --color-neutral-grey-800: #50545f;
  --color-neutral-grey-900: #3d4049;
  --color-shades-black-500: #000000;
  --color-shades-white-500: #ffffff;
  --color-dark-mode-50: #e8e9eb;
  --color-dark-mode-100: #b8babf;
  --color-dark-mode-200: #9699a1;
  --color-dark-mode-300: #666a76;
  --color-dark-mode-400: #494d5b;
  --color-dark-mode-500: #1b2132;
  --color-dark-mode-600: #191e2e;
  --color-dark-mode-700: #131724;
  --color-dark-mode-800: #0f121c;
  --color-dark-mode-900: #0b0e15;

  /* Text-size styles */
  --display-1: 72px;
  --display-2--: 60px;
  --heading-h1: 48px;
  --heading-h1-small: 34px;
  --heading-h2: 39px;
  --heading-h2-small: 33px;
  --heading-h3: 33px;
  --heading-h3-small: 28px;
  --heading-h4: 28px;
  --heading-h4-small: 23px;
  --heading-h5: 23px;
  --heading-h5-small: 19px;
  --subheading---regular: 20px;
  --paragraph-p1: 14px;
  --paragraph-p2: 16px;
  --paragraph-p3: 18px;
  --caption-regular: 12px;
  --footer-regular: 10px;
}

body {
}
