@import 'tailwindcss';


@theme inline {
    --font-sans: 'Graphik', sans-serif;
    --font-serif: 'Graphik', serif;
    --font-mono: 'Graphik', monospace;

    /* Color styles */
    --color-corporate-blue-50: #E6E9F0;
    --color-corporate-blue-100: #B0BAD1;
    --color-corporate-blue-200: #8A99BA;
    --color-corporate-blue-300: #556A9B;
    --color-corporate-blue-400: #344D87;
    --color-corporate-blue-500: #012169;
    --color-corporate-blue-600: #011E60;
    --color-corporate-blue-700: #01174B;
    --color-corporate-blue-800: #01123A;
    --color-corporate-blue-900: #000E2C;
    --color-corporate-grey-50: #F2F1F0;
    --color-corporate-grey-100: #D5D2CF;
    --color-corporate-grey-200: #C1BCB8;
    --color-corporate-grey-300: #A59E98;
    --color-corporate-grey-400: #948B84;
    --color-corporate-grey-500: #796E65;
    --color-corporate-grey-600: #6E645C;
    --color-corporate-grey-700: #564E48;
    --color-corporate-grey-800: #433D38;
    --color-corporate-grey-900: #332E2A;
    --color-secondary-blue-50: #E9EDFA;
    --color-secondary-blue-100: #BAC7F0;
    --color-secondary-blue-200: #98ACE8;
    --color-secondary-blue-300: #6A86DE;
    --color-secondary-blue-400: #4D6FD8;
    --color-secondary-blue-500: #204BCE;
    --color-secondary-blue-600: #1D44BB;
    --color-secondary-blue-700: #173592;
    --color-secondary-blue-800: #122971;
    --color-secondary-blue-900: #0D2057;
    --color-secondary-yellow-50: #FEF9E6;
    --color-secondary-yellow-100: #FCEBB0;
    --color-secondary-yellow-200: #FBE18A;
    --color-secondary-yellow-300: #F9D354;
    --color-secondary-yellow-400: #F8CB33;
    --color-secondary-yellow-500: #F6BE00;
    --color-secondary-yellow-600: #E0AD00;
    --color-secondary-yellow-700: #AF8700;
    --color-secondary-yellow-800: #876900;
    --color-secondary-yellow-900: #675000;
    --color-secondary-black-50: #EAEAEA;
    --color-secondary-black-100: #BEBEBE;
    --color-secondary-black-200: #9E9E9E;
    --color-secondary-black-300: #727272;
    --color-secondary-black-400: #575757;
    --color-secondary-black-500: #2D2D2D;
    --color-secondary-black-600: #292929;
    --color-secondary-black-700: #202020;
    --color-secondary-black-800: #191919;
    --color-secondary-black-900: #131313;
    --color-tertiary-blue-50: #F4F9FD;
    --color-tertiary-blue-100: #DDECF8;
    --color-tertiary-blue-200: #CDE2F5;
    --color-tertiary-blue-300: #B6D5F0;
    --color-tertiary-blue-400: #A8CDED;
    --color-tertiary-blue-500: #92C1E9;
    --color-tertiary-blue-600: #85B0D4;
    --color-tertiary-blue-700: #6889A5;
    --color-tertiary-blue-800: #506A80;
    --color-tertiary-blue-900: #3D5162;
    --color-error-50: #FDECEC;
    --color-error-100: #FAC5C5;
    --color-error-200: #F8A9A9;
    --color-error-300: #F48282;
    --color-error-400: #F26969;
    --color-error-500: #EF4444;
    --color-error-600: #D93E3E;
    --color-error-700: #AA3030;
    --color-error-800: #832525;
    --color-error-900: #641D1D;
    --color-warning-50: #FEFAED;
    --color-warning-100: #FDF0C6;
    --color-warning-200: #FBE8AA;
    --color-warning-300: #FADE83;
    --color-warning-400: #F9D86B;
    --color-warning-500: #F7CE46;
    --color-warning-600: #E1BB40;
    --color-warning-700: #AF9232;
    --color-warning-800: #887127;
    --color-warning-900: #68571D;
    --color-success-50: #E7F8F2;
    --color-success-100: #B5E9D8;
    --color-success-200: #91DFC5;
    --color-success-300: #5FD0AB;
    --color-success-400: #40C79A;
    --color-success-500: #10B981;
    --color-success-600: #0FA875;
    --color-success-700: #0B835C;
    --color-success-800: #096647;
    --color-success-900: #074E36;
    --color-neutral-grey-50: #F4F5F7;
    --color-neutral-grey-100: #DDDFE6;
    --color-neutral-grey-200: #CCD0D9;
    --color-neutral-grey-300: #B5BAC8;
    --color-neutral-grey-400: #A7ADBD;
    --color-neutral-grey-500: #9198AD;
    --color-neutral-grey-600: #848A9D;
    --color-neutral-grey-700: #676C7B;
    --color-neutral-grey-800: #50545F;
    --color-neutral-grey-900: #3D4049;
    --color-shades-black-500: #000000;
    --color-shades-white-500: #FFFFFF;
    --color-dark-mode-50: #E8E9EB;
    --color-dark-mode-100: #B8BABF;
    --color-dark-mode-200: #9699A1;
    --color-dark-mode-300: #666A76;
    --color-dark-mode-400: #494D5B;
    --color-dark-mode-500: #1B2132;
    --color-dark-mode-600: #191E2E;
    --color-dark-mode-700: #131724;
    --color-dark-mode-800: #0F121C;
    --color-dark-mode-900: #0B0E15;

    /* Text-size styles */
    --display-1: 72px;
    --display-2--: 60px;
    --heading-h1: 48px;
    --heading-h1-small: 34px;
    --heading-h2: 39px;
    --heading-h2-small: 33px;
    --heading-h3: 33px;
    --heading-h3-small: 28px;
    --heading-h4: 28px;
    --heading-h4-small: 23px;
    --heading-h5: 23px;
    --heading-h5-small: 19px;
    --subheading---regular: 20px;
    --paragraph-p1: 14px;
    --paragraph-p2: 16px;
    --paragraph-p3: 18px;
    --caption-regular: 12px;
    --footer-regular: 10px;
}


body {

}
